<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible"
          content="IE=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1">
    <meta name="format-detection"
          content="telephone=no">
    <title>Character Copy</title>
  </head>
  <body>
    <nav>
      <a href="#radicals">Radicals</a>
      <a href="#strokes">Strokes</a>
      <a href="#ideographic">Ideographic</a>
    </nav>

    <article>
      <section id="glyph-maker">
        <h2 id="ideographic">Ideographic Description Characters</h2>

        <ul id="ideographic-list">
          <li v-for="char in idcList"
              v-on:click="selectIdc(char)"
              class="ideographic">{{char}}</li>
        </ul>

        <h2>Create</h2>

        <h3>Ideographic Description Character: <span class="idc">{{idc}}</span></h3>

        <h3>
          Block 1: <input type="text" v-model="block1">
          Block 2: <input type="text" v-model="block2">
          Block 3: <input type="text" v-model="block3">
          <button type="button" v-on:click="draw">Draw</button>
        </h3>

        <section>
          <canvas ref="canvas" height="400" width="400"></canvas>
        </section>
      </section>

      <h2 id="radicals">CJK Radicals</h2>

      <section id="radical-list">
        <section v-for="item in radicalList">
          <h3>{{item.strokeCount}}</h3>

          <ul>
            <li v-for="radical in item.radicals"
                v-bind:data-stroke-order="radical.strokeOrder"
                v-bind:data-clipboard-text="radical.glyph"
                class="glyph">{{radical.glyph}}</li>
          </ul>
        </section>
      </section>

      <h2 id="strokes">CJK Strokes</h2>

      <ul id="stroke-list">
        <li v-for="stroke in strokeList"
            v-bind:data-clipboard-text="stroke"
            class="glyph">{{stroke}}</li>
      </ul>
    </article>
  </body>
</html>
